Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/
Content/Config/GameConfig/Tools/setting.ini
Content/Test/
.vs
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
UpdateProject.bat
checkoutAll.bat
PullAll.bat